<!--CSS-->
<?php echo HTML::style('css/modals.css'); ?>

<?php echo HTML::style('css/mobile.css'); ?>

<?php echo HTML::style('css/tooltips.css'); ?>

<?php echo HTML::style('http://fonts.googleapis.com/css?family=Oswald'); ?>

<?php echo HTML::style('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'); ?>

<link rel="stylesheet" type="text/css" href="<?php echo e(URL::asset('css/posts.css')); ?>">
<link rel="icon" type="image/x-icon" href="<?php echo e(URL::asset('img/logo.png')); ?>" >

<!--JAVASCRIPT | JQUERY-->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script type="text/javascript" src="<?php echo e(URL::asset('js/jquery.min.js')); ?>"></script>
<script type="text/javascript" src="<?php echo e(URL::asset('js/modal-photos.js')); ?>"></script>
<script type="text/javascript" src="<?php echo e(URL::asset('js/default.js')); ?>"></script>
<script type="text/javascript" src="<?php echo e(URL::asset('js/autosize.js')); ?>"></script>
<script type="text/javascript" src="<?php echo e(URL::asset('js/plugins/readmore.js')); ?>"></script>